<!DOCTYPE html>
<html>
    <head>
        <title>RailsWebsockets</title>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <div style="display:flex; flex-direction: column;">
            <a href="/ports">Demo Using Ports</a>
            <a href="/using_websocket">Demo Using elm-lang/websocket</a>
            <a href="/using_rails_websocket">Demo Using websocket-rails</a>
        </div>
    </body>
</html>