<!DOCTYPE html>
<html>
    <head>
        <title>Using Ports</title>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'cable', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'MainWithPorts', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <script>
            var elmApp = Elm.MainWithPorts.fullscreen();
            var channel = App.cable.subscriptions.create("AllMessagesChannel", {
                connected: function () {
                    elmApp.ports.connected.send('');
                },

                disconnected: function () {
                    elmApp.ports.disconnected.send('');
                },

                received: function (data) {
                    elmApp.ports.receiveEvent.send(data);
                },

                sendMessage: function (msg) {
                    return this.perform('sendMessage', {msg: msg});
                }
            });
            elmApp.ports.sendMsg.subscribe(function (msg) {
                channel.sendMessage(msg);
            });
            elmApp.ports.connect.subscribe(function () {
                App.cable.subscriptions.add(channel);
            });
            elmApp.ports.disconnect.subscribe(function () {
                App.cable.subscriptions.remove(channel);
            });
        </script>
    </body>
</html>