<!DOCTYPE html>
<html>
    <head>
        <title>Using Ports</title>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'cable', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'MainWithPorts', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <script>
            var elmApp = Elm.MainWithPorts.fullscreen();
            App.all_messages = App.cable.subscriptions.create("AllMessagesChannel", {
                connected: function () {
                    elmApp.ports.connected.send('');
                },

                disconnected: function () {
                    elmApp.ports.disconnected.send('');
                },

                received: function (data) {
                    elmApp.ports.receiveEvent.send(data);
                },

                sendMessage: function () {
                    return this.perform('sendMessage');
                }
            });
            elmApp.ports.sendMsg.subscribe(function () {
                App.all_messages.sendMessage();
            });
        </script>
    </body>
</html>